.details {
    display: flex;  /*Fixed spelling error*/
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
    padding: 1rem; /* Added padding */
}

.assignments {
    padding: 1rem 5rem;
}

